<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
<!-- header section -->
<section >
  <header id="header">
    <div class="header-content clearfix"> 
      <%= link_to root_path do %>
        <%= image_tag "44_44.png", class: "logo"%>
      <%end%>
      <!-- navigation section  -->
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><%= link_to "トップページ", root_path %></li>
          <li><%= link_to "利用規約・プライバシーポリシー・特定商取引法に基づく表示", pages_privacy_path %></li>
          
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    <!-- navigation section  --> 
  </header>
 
 
</section>
<!-- header section --> 
<!-- overview section -->
<section id="overview" class="section overview">
  <div class="container">
    <div class="card ">
  <div class="card-header text-center">
    <ul class="nav nav-tabs nav-justified card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item" >
        <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">利用規約</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false">プライバシーポリシー</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link " id="commercial-tab" data-toggle="tab" href="#commercial" role="tab" aria-controls="commercial" aria-selected="false">特定商取引法に基づく表記</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content " id="myTabContent">
    <div class="tab-pane  active" id="service" role="tabpanel" aria-labelledby="service-tab">
      <h5 class="card-title text-center">利用規約</h5>
      </br></br><p class="card-text text-left">本利用規約（以下「本規約」と言います。）には、本サービスの提供条件及び当社と登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。
 
 
</br></br><b>第1条（適用）</b>
</br>1.  本規約は、本サービスの提供条件及び本サービスの利用に関する当社と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。
</br>2.  本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。
 
 
</br></br><b>第2条（定義）</b>
</br>本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
</br>1.  「サービス利用契約」とは、本規約を契約条件として当社と登録ユーザーの間で締結される、本サービスの利用契約を意味します。
</br>2.  「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます。）を意味します。
</br>3.  「投稿データ」とは、登録ユーザーが本サービスを利用して投稿その他送信するコンテンツ（文章、画像、動画その他のデータを含みますがこれらに限りません。）を意味します。
</br>4.  「当社」とは、【fullfii】を意味します。
</br>5.  「当社ウェブサイト」とは、そのドメインが「【本サービスを提供するドメイン名】」である、当社が運営するウェブサイト（理由の如何を問わず、当社のウェブサイトのドメインまたは内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。
</br>6.  「登録ユーザー」とは、第3条（登録）に基づいて本サービスの利用者として無料プランまたは有料プランで登録がなされた個人または法人を意味します。
</br>7.  「本サービス」とは、当社が提供する【fullfii】という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。
</br></br><b>第3条（登録）</b>
</br>1.  本サービスの利用を希望する者（以下「登録希望者」といいます。）は、本規約を遵守することに同意し、かつ当社の定める一定の情報（以下「登録事項」といいます。）を当社の定める方法で当社に提供することにより、当社に対し、本サービスの利用の登録を申請することができます。
</br>2. 個人のユーザー及びユーザー登録をされようとする方は、複数のユーザー登録を行うことができないものとします。
</br>3.  当社は、当社の基準に従って、第１項に基づいて登録申請を行った登録希望者（以下「登録申請者」といいます。）が、アプリ上で利用規約に同意した後チェックボックスに入力し送信した段階で、登録を認めることとします。
</br>4.  前項に定める登録の完了時に、サービス利用契約が登録ユーザーと当社の間に成立し、登録ユーザーは本サービスを本規約に従い利用することができるようになります。
</br>5.  当社は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。
</br>　(1)  当社に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合
</br>　(2)  反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると当社が判断した場合
</br>　(3)  過去当社との契約に違反した者またはその関係者であると当社が判断した場合
</br>　(4)  第10条に定める措置を受けたことがある場合
</br>　(5)  その他、登録を適当でないと当社が判断した場合
</br>6.  有料プランについては第5条（有料プランの利用）参照

</br></br><b>第4条（有料プランの利用）</b>
</br>1. 有料会員は、有料サービスを利用するにあたり、当社に対し、当社が規定する月額利用料金（以下「利用料金」といいます）をお支払いいただく必要があります。利用料金は、当社が各サービスごとに定め、購入ページに表示致します。

</br>2. 有料サービスの月額利用における「1ヶ月」とは、利用料金をお支払いいただいた時点から１か月（お支払日の翌月同日同時間まで。翌月同日が存在しない場合は、翌月末日の同時間まで）を指すものとします。

</br>3. 有料サービスの最初の１か月分の利用料金は、有料サービスの登録時に支払うものとします。翌月以降の利用料金は、翌月以降の、有料サービス登録日時と同日同時間（翌月以降に登録日の同日が存在しない場合は、当該月の末日となります。以下「更新日時」といいます）に、翌1か月分の利用料金をお支払いいただくものとします。なお、有料会員は、有料サービスの解約を希望する場合、更新日時までに、第５条に定める解約手続きを行う必要があります。更新日時までに解約手続きが行われなかった場合、有料サービスは自動的に１か月間更新され、有料会員は、更新日時に翌1か月分の利用料金を支払う義務が生じますのでご注意ください。

</br>4. 当社は、サービス内容の変更等により、利用料金を改定する場合があります。なお、利用料金を改定する場合は、当社は所定の方法により有料会員に事前に通知するものとします。

</br>5. 利用料金は、有料サービスの登録時、更新日時にクレジットカード決済により支払うものとします。なお、更新日時までに解約手続きが行われなかった場合は、更新日時に自動的にクレジットカード決済が行われます。

</br>6. 有料会員が利用料金の支払を遅延した場合には、有料会員は年14.6%の割合による遅延損害金を当社に支払うものとします。

</br>7. 有料会員が有料サービスを解約した場合（fullfiiから退会した場合も含む）、お支払いただいた利用料金は、理由の如何にかかわらず、返金を行いません。また、利用料金のお支払から1か月以内に解約した場合においても、残存期間の利用料金の返金は行いませんので、ご注意ください。お支払いから1か月以内に解約した場合で、かつfullfiiの登録ユーザーである場合は、元の更新日時に至るまでは、それまで登録していた有料サービスを引き続きご利用頂くことができます。

</br>8. 有料会員が有料サービスのプラン変更を行った場合は、すでに利用した日数分を差し引いた金額が返金されます。また新たに加入するプランの利用料金が、即時に決済され、その時点から１ヶ月間が有効期間となります。なお、プラン変更を行った場合、更新日時は、翌月以降のプラン変更日時と同日同時間となり、以後第3項の規定に従いプラン変更後の利用料金で更新されるものとします。

</br>9. お試し期間2週間経過後、利用するためには有料プランへの加入が必要です。

</br>10. お試し期間はLightプランとして利用できます。


</br></br><b>第5条（登録事項の変更）</b>
</br>登録ユーザーは、登録事項に変更があった場合、当社の定める方法により当該変更事項を遅滞なく当社に通知するものとします。
</br></br><b>第6条（未成年者による利用）</b>
</br>1.  お客様が未成年者である場合、お客様は、本サービスの利用（本規約への同意を含みます）について、あらかじめ法定代理人（親権者等）の同意を得て、本サービスを利用するものとします。お客様が当該同意を得ずに本サービスを利用する場合、当社は、お客様との間の本利用契約を解除し、またはお客様による本サービスの利用を停止することができます。

</br>2.  未成年者が本サービス内の有償サービスを利用する場合、当該未成年者は、当社が別途定める月額利用上限金額に従うものとします。この場合、当該利用上限金額は、法定代理人が未成年者に対し「目的を定めて処分を許した財産」となります。

</br>3.  未成年者が、本利用規約に定める法定代理人の承諾がないにもかかわらず、承諾があると偽って本サービスを利用した場合、また、年齢について成年と偽って本サービスを利用した場合、その他「行為能力者であることを信じさせるため詐術を用いたとき」に該当する場合、当該未成年者は、本サービスにおける一切の法律行為を取消すことができません。

</br>4.  本規約に同意した時点で未成年者であったお客様が、成年に達した後に本サービスを利用した場合、未成年者であった間の利用行為を追認したものとみなされます。

</br>5.  当社は、お客様の年齢に応じて、本サービスの一部または全部の利用を制限する場合があります。制限の対象および内容は、本アプリケーションまたは特定商取引法の基づく表示に別途定めます。

 
</br></br><b>第7条（パスワード及びユーザーIDの管理）</b>
</br>1.  登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものとします。
</br>2.  パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとします。

</br></br><b>第8条（禁止事項）</b>
</br>登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると当社が判断する行為をしてはなりません。
</br>1.  法令に違反する行為または犯罪行為に関連する行為
</br>2.  当社、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
</br>3.  公序良俗に反する行為
</br>4.  当社、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
</br>5.  本サービスを通じ、以下に該当し、または該当すると当社が判断する情報を当社または本サービスの他の利用者に送信すること
</br>　・過度に暴力的または残虐な表現を含む情報
</br>　・コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報
</br>　・当社、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
</br>　・過度にわいせつな表現を含む情報
</br>　・差別を助長する表現を含む情報
</br>　・自殺、自傷行為を助長する表現を含む情報
</br>　・薬物の不適切な利用を助長する表現を含む情報
</br>　・反社会的な表現を含む情報
</br>　・チェーンメール等の第三者への情報の拡散を求める情報
</br>　・他人に不快感を与える表現を含む情報
</br>6.  本サービスのネットワークまたはシステム等に過度な負荷をかける行為
</br>7.  当社が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為
</br>8.  本サービスの運営を妨害するおそれのある行為
</br>9.  当社のネットワークまたはシステム等への不正アクセス
</br>10. 第三者に成りすます行為
</br>11. 本サービスの他の利用者のIDまたはパスワードを利用する行為
</br>12. 当社が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
</br>13. 本サービスの他の利用者の情報の収集
</br>14. 当社、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
</br>15. 当社ウェブサイト上で掲載する本サービス利用に関するルール（http://.......）に抵触する行為
</br>16. 反社会的勢力等への利益供与
</br>17. 面識のない異性との出会いを目的とした行為
</br>18. 前各号の行為を直接または間接に惹起し、または容易にする行為
</br>19. line、twitterやメールアドレスなどといった個人的に連絡を取り合うことを目的とした連絡先の交換等の行為
</br>20. 個人が運営するサービスやビジネスへの勧誘、引き抜き等の行為
</br>21. 宗教勧誘とそれに値する行為
</br>22. 商品の営業や押し売り等の行為
</br>23. 相談内容の画面をスクリーンショット等を行い、個人のデバイスに保存しようとする行為
</br>24. 個人が特定されうる相談内容を外部のサービスに公開する等の行為
</br>25. 個人が特定されうる相談内容を第三者に口外する等の行為
</br>26. 前各号の行為を試みること
</br>27. 性別を偽っての登録、サービスの利用
</br>28. その他、当社が不適切と判断する行為
</br></br><b>第9条（本サービスの停止等）</b>
</br>当社は、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
</br>1.  本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合
</br>2.  コンピューター、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により本サービスの運営ができなくなった場合
</br>3.  地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
</br>4.  その他、当社が停止または中断を必要と判断した場合

</br></br><b>第10条（権利帰属）</b>
</br>1.  当社ウェブサイト及び本サービスに関する知的財産権は全て当社または当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当社ウェブサイトまたは本サービスに関する当社または当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。
</br>2.  登録ユーザーは、投稿データについて、自らが投稿その他送信することについての適法な権利を有していること、及び投稿データが第三者の権利を侵害していないことについて、当社に対し表明し、保証するものとします。
</br>3.  登録ユーザーは、投稿データについて、当社に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。また、他の登録ユーザーに対しても、本サービスを利用して登録ユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示及び実行することについての非独占的なライセンスを付与します。
</br>4.  登録ユーザーは、当社及び当社から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。
</br></br><b>第11条（登録抹消等）</b>
</br>1.  当社は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、投稿データを削除もしくは非表示にし、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消することができます。
</br>　(1)  本規約のいずれかの条項に違反した場合
</br>　(2)  登録事項に虚偽の事実があることが判明した場合
</br>　(3)  支払停止もしくは支払不能となり、または破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合
</br>　(4)  【6】ヶ月以上本サービスの利用がない場合
</br>　(5)  当社からの問い合わせその他の回答を求める連絡に対して【30日】間以上応答がない場合
</br>　(6)  第3条第4項各号に該当する場合
</br>　(7)  その他、当社が本サービスの利用または登録ユーザーとしての登録の継続を適当でないと判断した場合
</br>2.  前項各号のいずれかの事由に該当した場合、登録ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。
</br></br><b>第12条（退会）</b>
</br>1.  登録ユーザーは、当社所定の手続の完了により、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。
</br>2.  退会にあたり、当社に対して負っている債務が有る場合は、登録ユーザーは、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。
</br>3.  有料会員は、当社所定の方法で当社に通知することにより、有料サービスから退会し、自己の有料会員としての登録を抹消することができます。 なお、更新日時までに解約手続きを行わない場合、有料サービスは自動更新されますのでご注意ください。

</br>4. 前項に関して、ユーザーの不注意のほか、当社の定期的もしくは緊急なメンテナンスやシステム障害、通信状態の不良等により、更新日時において解約することが出来なかった場合においても、当社は責任を負いかねますので、ご了承ください。
</br>5.  退会後の利用者情報の取扱いについては、第15条の規定に従うものとします。
</br></br><b>第13条（本サービスの内容の変更、終了）</b>
</br>1.  当社は、当社の都合により、本サービスの内容を変更し、または提供を終了することができます。
</br>2.  当社が本サービスの提供を終了する場合、当社は登録ユーザーに事前に通知するものとします。
</br></br><b>第14条（保証の否認及び免責）</b>
</br>1.  当社は、本サービスが登録ユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、登録ユーザーによる本サービスの利用が登録ユーザーに適用のある法令または業界団体の内部規則等に適合すること、継続的に利用できること、及び不具合が生じないことについて、明示又は黙示を問わず何ら保証するものではありません。
</br>2.  当社は、本サービスに関して登録ユーザーが被った損害につき、過去【12ヶ月】間に登録ユーザーが当社に支払った対価の金額を超えて賠償する責任を負わないものとし、また、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。
</br>3.  本サービスまたは当社ウェブサイトに関連して登録ユーザーと他の登録ユーザーまたは第三者との間において生じた取引、連絡、紛争等については、登録ユーザーが自己の責任によって解決するものとします。
</br></br><b>第15条（秘密保持）</b>
</br>登録ユーザーは、本サービスに関連して当社が登録ユーザーに対して秘密に取扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取扱うものとします。
</br></br><b>第16条（利用者情報の取扱い）</b>
</br>1.  当社による登録ユーザーの利用者情報の取扱いについては、別途当社プライバシーポリシー（http://.......）の定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って当社が登録ユーザーの利用者情報を取扱うことについて同意するものとします。
</br>2.  当社は、登録ユーザーが当社に提供した情報、データ等を、個人を特定できない形での統計的な情報として、当社の裁量で、利用及び公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。
</br></br><b>第17条（本規約等の変更）</b>
</br>当社は、当社が必要と認めた場合は、本規約を変更できるものとします。本規約を変更する場合、変更後の本規約の施行時期及び内容を当社ウェブサイト上での掲示その他の適切な方法により周知し、または登録ユーザーに通知します。但し、法令上登録ユーザーの同意が必要となるような内容の変更の場合は、当社所定の方法で登録ユーザーの同意を得るものとします。
</br></br><b>第18条（連絡／通知）</b>
</br>1.  本サービスに関する問い合わせその他登録ユーザーから当社に対する連絡または通知、及び本規約の変更に関する通知その他当社から登録ユーザーに対する連絡または通知は、当社の定める方法で行うものとします。
</br>2.  当社が登録事項に含まれるメールアドレスその他の連絡先に連絡または通知を行った場合、登録ユーザーは当該連絡または通知を受領したものとみなします。
 
</br></br><b>第19条（サービス利用契約上の地位の譲渡等）</b>
</br>1.  登録ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
</br>2.  当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
</br></br><b>第20条（分離可能性）</b>
</br>本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
</br></br><b>第21条（準拠法及び管轄裁判所）</b>
</br>1.  本規約及びサービス利用契約の準拠法は日本法とします。
</br>2.  本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
</p>
</br><p class="card-text text-center">【2020年9月4日制定】</p>

    </div>
    <div class="tab-pane" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
      <h5 class="card-title text-center">プライバシーポリシー</h5>
</br></br><p class="card-text text-left">【fulfii】（以下「当社」といいます。）は、当社の提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。

</br></br><b>1.  収集する利用者情報及び収集方法</b>
</br>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、通信サービス上の行動履歴、その他ユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき当社が収集するものを意味するものとします。
</br>本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。
</br>(1)   ユーザーからご提供いただく情報
</br>本サービスを利用するために、または本サービスの利用を通じてユーザーからご提供いただく情報は以下のとおりです。
 
</br>　・氏名、生年月日、性別、職業等プロフィールに関する情報
</br>　・メールアドレス等連絡先に関する情報
</br>　・クレジットカード情報、銀行口座情報、電子マネー情報等決済手段に関する情報
</br>　・ユーザーの肖像を含む静止画情報
</br>　・入力フォームその他当社が定める方法を通じてユーザーが入力または送信する情報
</br>　・相談内容
 
</br>(2)   ユーザーが本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報

</br>ユーザーが、本サービスを利用するにあたり、ソーシャルネットワーキングサービス等の他のサービスとの連携を許可した場合には、その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから収集します。

</br>　・当該外部サービスでユーザーが利用するID
</br>　・その他当該外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報
 
</br>(3)   ユーザーが本サービスを利用するにあたって、当社が収集する情報
</br>当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。

</br>　・リファラ
</br>　・IPアドレス
</br>　・サーバーアクセスログに関する情報
</br>　・Cookie、ADID、IDFAその他の識別子
</br></br><b>2.  利用目的</b>
</br>本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。

</br>(1)  本サービスに関する登録の受付、本人確認、ユーザー認証、ユーザー設定の記録、利用料金の決済計算等本サービスの提供、維持、保護及び改善のため
</br>(2)  ユーザーのトラフィック測定及び行動測定のため
</br>(3)  ユーザーのトラフィック測定及び行動測定のため
</br>(4)  ユーザが他ユーザの基本的な個人情報（年齢や悩みについて）把握するため
</br>(5)  広告の配信、表示及び効果測定のため
</br>(6)  本サービスに関するご案内、お問い合わせ等への対応のため
</br>(7)  本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
</br>(8)  本サービスに関する規約等の変更などを通知するため

</br></br><b>3.  通知・公表または同意取得の方法、利用中止要請の方法</b>

</br>ユーザーは、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその収集又は利用の停止を求めることができ、この場合、当社は速やかに、当社の定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、当社所定の方法により本サービスを退会した場合に限り、当社はその収集又は利用を停止します。

</br></br><b>4.  情報収集モジュールの有無</b>
</br>本サービスには以下の情報収集モジュールが組み込まれています。これに伴い、以下のとおり情報収集モジュール提供者（日本国外にある者を含みます。）への利用者情報の提供を行います。
</br>Google アナリティクス SDK
</br>提供者：Google, Inc
</br>URL : https://policies.google.com/privacy?hl=ja
</br>利用目的：利用に関する動向調査のため。利用者に適した広告配信のため。広告掲載効果測定のため

</br></br><b>5.  第三者提供</b>
</br>当社は、利用者情報のうち、個人情報については、あらかじめユーザーの同意を得ないで、第三者（日本国外にある者を含みます。）に提供しません。但し、次に掲げる必要があり第三者（日本国外にある者を含みます。）に提供する場合はこの限りではありません。

</br>(1)  当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
</br>(2)  合併その他の事由による事業の承継に伴って個人情報が提供される場合
</br>(3)  第4項の定めに従って、提携先または情報収集モジュール提供者へ個人情報が提供される場合
</br>(4)  国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合
</br>(5)  その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合
</br></br><b>6. 利用者の義務</b>
</br>利用者は本人の個人情報を安全に守るため、関連法律に遵守する義務があります。
</br>利用者は自身の個人情報を安全に保護する義務があり、fullfiiは利用者本人による不注意によって発生した事に一切の責任を負わないものとする。従って利用者は自らが個人情報保護のためにID及びパスワードの管理を徹底し、定期的に変更するなど最善の取り組みを行う義務があります。
</br>利用者は本人の最新の個人情報を正確に入力し、維持する義務があります。
</br>利用者の誤った情報の入力によって発生する問題の責任は利用者本人にあるものとします。
</br>利用者は他人の個人情報を盗用し、会員登録またはサービスを利用した場合、会員資格の喪失とともに個人情報関連法律に基づき処罰されることがあります。
</br>利用者は他人の個人情報を侵害したり、流出させない義務があります。
</br>サービスの利用中に他の利用者に対して知り得た個人情報を言及し、流出させた場合、個人情報関連法律に基づいて処罰されることがあります。


</br></br><b>7.  個人情報の開示</b>
</br>当社は、ユーザーから、個人情報保護法の定めに基づき個人情報の開示を求められたときは、ユーザーご本人からのご請求であることを確認の上で、ユーザーに対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり1,000円）を頂戴しておりますので、あらかじめ御了承ください。
</br></br><b>8.  個人情報の訂正及び利用停止等</b>
</br>8-1 当社は、ユーザーから、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び(2)あらかじめ公表された利用目的の範囲を超えて取扱われているという理由または偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、ユーザーご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正または利用停止を行い、その旨をユーザーに通知します。なお、訂正または利用停止を行わない旨の決定をしたときは、ユーザーに対しその旨を通知いたします。
 
</br>8-2当社は、ユーザーから、ユーザーの個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合は、ユーザーご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨をユーザーに通知します。
 
</br>8-3個人情報保護法その他の法令により、当社が訂正等または利用停止等の義務を負わない場合は、8-1および8-2の規定は適用されません。
</br></br><b>9.  お問い合わせ窓口</b>
</br>ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願いいたします。　
</br>個人情報取扱責任者：林幸嗣
</br>連絡先：fullfii811@gmail.com
</br></br><b>10. プライバシーポリシーの変更手続</b>
</br>当社は、必要に応じて、本ポリシーを変更します。但し、法令上ユーザーの同意が必要となるような本ポリシーの変更を行う場合、変更後の本ポリシーは、当社所定の方法で変更に同意したユーザーに対してのみ適用されるものとします。なお、当社は、本ポリシーを変更する場合には、変更後の本ポリシーの施行時期及び内容を当社のウェブサイト上での表示その他の適切な方法により周知し、またはユーザーに通知します。
</p>
</br><p class="card-text text-center">【2020年9月4日制定】</p>

    </div>
    <div class="tab-pane " id="commercial" role="tabpanel" aria-labelledby="commercial-tab">
      <h5 class="card-title text-center">特定商取引法に基づく表示</h5>
  </br></br><p class="card-text text-left">
<b>1.  運営主体</b>
</br>林幸嗣
</br>鳥海健斗

</br></br><b>2.  お問い合わせ</b>
</br>mail : fullfii811@gmail.com

</br></br><b>3.  プラン一覧</b>
</br>お試し期間2週間後、使用し続けるには以下のプランを選択ください。
</br>Light プラン  500 円（税別）/一ヶ月
</br>Vip プラン  1500 円（税別）/一ヶ月
<br/>各プランで利用可能な機能はアプリ上に記載しておりますので、そちらを参照下さい。


</br></br><b>4.  販売価格以外の費用</b>
</br>パケット代等の携帯電話の利用に伴う通信費用及び電気通信回線の通信料金等(インターネット接続料金を含む)
</br>※料金は、お客様がご契約されている通信事業者等にお問い合わせください。
</br></br><b>5.  代金のお支払時期</b>
</br>初回の支払いは、有料プラン登録時に実施され、次回支払いは翌月の同日同時間となります（翌月に同日がない場合は、翌月末日の同時間となります）。

</br></br><b>6.  代金のお支払方法</b>
</br>お支払方法は、以下のいずれかよりお選びいただけます。
</br>Google.Inc が提供する決済手段による支払方法（Google Playでダウンロードしたアプリケーションのみ）
</br>Apple.Inc またはその子会社が提供する決済手段による支払方法（iOS用アプリケーションのみ）
</br></br><b>7.  提供時期</b>
</br>コンテンツは、お支払手続完了後、直ちに提供いたします。
</br></br><b>8.  返品について</b>
</br>本サービスはクーリング・オフ適用対象外です。
</br>当社所定の規定に従ってご解約頂けます。ただし、すでに支払い完了した代金に関しての返金はお受け出来ません。
</p>
</br><p class="card-text text-center">【2020年9月4日制定】</p>
    </div>
  </div>
</div>
  </div>
</section>


<!--subscribe section -->

<!--subscribe section --> 

<!--contact section

<section id="contact" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h2 class="section-title">Get In Touch <span>Say Hello!</span></h2>
        <p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
      </div>
    </div> -->
    
    <!--contact form start
    <div class="col-md-6 col-md-offset-3 conForm">
      <div id="message"></div>
      <form method="post" action="php/contact.php" name="cform" id="cform">
        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
        <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
        <div id="simple-msg"></div>
      </form>
    </div>-->
    <!--contact form end
  </div>
</section>--> 

<!--contact section --> 
<!-- footer section-->
<footer class="section footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12">
        <p>
        <ul class="footer-share">
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>--> 
          <li><a href="https://twitter.com/fullfiiOfficial"><i class="fa fa-twitter"></i></a></li>
          <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>--> 
          <!--<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>--> 
          <!--<li><a href="#"><i class="fa fa-vimeo"></i></a></li>--> 
        </ul>
        </p>
        <p>© Copyright © 2015 Rooky Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- footer section--> 
<!-- Include JS files --> 

</body>
</html>